<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()">
    <ion-item class="ion-margin-top" lines="none">
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" name="nome" id="nome" [(ngModel)]="clientes.nome"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-label position="stacked">Tipo</ion-label>
      <ion-select placeholder="Selecione um..." name="nome" id="tipo" [(ngModel)]="clientes.tipo">
        <ion-select-option value="1">Pessoa física</ion-select-option>
        <ion-select-option value="2">Pessoa jurídica</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list class="ion-margin-top" lines="none">
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Gênero</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio slot="start" name="genero" id="masculino" [value]="1" [(ngModel)]="clientes.genero"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Feminino</ion-label>
          <ion-radio slot="start" name="genero" id="feminino" [value]="2" [(ngModel)]="clientes.genero"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item class="ion-margin-top" lines="none">
      <ion-label position="stacked">Data de Nascimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Selecione a Data" name="dataNascimento" id="dataNascimento" [(ngModel)]="clientes.dataNascimento"></ion-datetime>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-label position="stacked">Observação</ion-label>
      <ion-textarea name="observacao" id="observacao" [(ngModel)]="clientes.observacao"></ion-textarea>
    </ion-item>

    <ion-item class="ion-margin-top" lines="none">
      <ion-checkbox color="primary" name="inativo" id="inativo" [(ngModel)]="clientes.inativo"></ion-checkbox>
      <ion-label>Checkbox</ion-label>
    </ion-item>

    <ion-button type="submit" value="salvar" size="default" color="primary">Salvar
      <ion-icon slot="icon-only" name="save-outline"></ion-icon>
    </ion-button>

    <ion-button size="default"  color="medium">Sair
      <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
    </ion-button>

  </form>

</ion-content>
